In [63]:
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.externals import joblib

In [2]:
# 경고메시지 무시
import warnings
warnings.filterwarnings("ignore")

In [64]:
def training(station, df, hour):
    tmp = df[df['역명'] == station].reset_index(drop=True)
#     tmp = df[hour].reset_index(drop=True)
    tmp = tmp[['연도', '월', '일', '역명', hour, '요일', '날씨']]
    tmp = pd.get_dummies(tmp, columns=['요일', '날씨'])
    
    Y = tmp[hour]
    del tmp[hour]

    del tmp['역명']
    X = tmp
    
    display(X)
    
    model = LinearRegression()

    X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)
    model.fit(X_train, y_train)
    
    print(f'{station}_{hour} score : {model.score(X_test, y_test)}')
    
    joblib.dump(model, f'./models/{station}_{hour}.pkl')

In [50]:
df = pd.read_csv('서울교통공사_역별 일별 시간대별 승하차인원 정보_20200831_수정.csv', encoding='euc-kr')
# del df['Unnamed: 0']
times = df.columns[4:24]
new_col = {}
hour = 5
for t in times :
    new_col[t] = hour
    hour += 1
df.rename(columns=new_col, inplace=True)
df

,연도,월,일,역명,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,요일,날씨
0,2020,1,1,서울역,356,280,313,774,923,1418,...,3342,3002,2857,2311,2523,1830,987,25,2,4
1,2020,1,1,서울역,235,952,828,1043,1694,1655,...,2261,1922,1696,1620,1181,768,426,77,2,4
2,2020,1,1,시청,105,118,123,206,318,309,...,1234,1383,1271,1061,991,572,217,2,2,4
3,2020,1,1,시청,81,223,334,570,611,612,...,849,602,435,293,273,174,149,26,2,4
4,2020,1,1,종각,798,366,198,236,310,379,...,1890,1879,1827,1955,1800,1259,406,6,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134575,2020,8,31,신흥,27,68,103,250,153,169,...,300,552,419,256,210,123,65,5,0,3
134576,2020,8,31,수진,133,234,546,738,327,228,...,276,223,121,78,62,37,12,1,0,3
134577,2020,8,31,수진,29,74,110,335,154,158,...,292,486,428,226,213,122,67,6,0,3
134578,2020,8,31,모란,69,105,333,399,214,153,...,212,276,166,93,103,36,26,3,0,3
134579,2020,8,31,모란,25,117,129,235,161,137,...,175,253,150,74,77,45,35,10,0,3

In [65]:
station_list = df['역명'].unique()

for station in station_list :
    for hour in range(5,25):
        training(station, df, hour)
    break

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_5 score : 0.06288407408026708

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_6 score : 0.08848308639808455

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_7 score : 0.2340491538147017

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_8 score : 0.23066527314135932

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_9 score : 0.12884606272604449

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_10 score : 0.0222181620307913

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_11 score : 0.007608433608024434

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_12 score : -0.0068538086668108456

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_13 score : -0.00954930294245826

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_14 score : -0.008896528453594232

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_15 score : -0.008878249129728344

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_16 score : 0.01427422384605126

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_17 score : 0.09659721537907884

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_18 score : 0.16556642611995856

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_19 score : 0.10457642737487904

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_20 score : 0.008018956671589916

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_21 score : -0.019398320212443032

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_22 score : -0.0286863654312004

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_23 score : 0.04669866769595965

,연도,월,일,요일_0,요일_1,요일_2,요일_3,요일_4,요일_5,요일_6,날씨_0,날씨_1,날씨_2,날씨_3,날씨_4,날씨_5
0,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
3,2020,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2020,1,2,0,0,0,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2020,8,30,0,0,0,0,0,0,1,0,0,0,0,1,0
972,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
973,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
974,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0
975,2020,8,31,1,0,0,0,0,0,0,0,0,0,1,0,0

서울역_24 score : 0.3014930976703778

In [25]:
model = joblib.load('./models/시청.pkl')
model.predict(pd.DataFrame([2020,1,1,7, 0,1, 1,0]).T)

array([282.55447619])